@font-face {
    font-family:'Poppins-Regular';
    src: url(../resources/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../resources/fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../resources/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Ultra-Regular';
    src: url(../resources/fonts/Ultra-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    scroll-behavior: smooth;
}
body{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    
}
h1{
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 4rem;
}
h2{
    font-family: 'Poppins-Bold';
    font-size: 3rem;
}
h3{
    font-family: 'Poppins-Bold';
    font-size: 2rem;
}
h5{
    font-family: 'Poppins-Bold';
    letter-spacing: 1px;
    font-size: .8rem;
    font-weight: normal;
}
p{
    font-family: 'Poppins-Regular';
    font-size: .7rem;
}
a{
    text-decoration: none;
}

/* HEADER UNIVERSAL */
.header{
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
/* TOP HEADER */
#top-header{
    background-color: #1a3d25;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}
#top-header div{
    margin: 0 1.5rem
}
#top-header a{
    margin: 0 5px;
    border-radius: 60px;
    border: 1.3px solid white;
    display: inline-flex;
    padding: 8px;
}
#top-header a i{
    font-size: .7rem;
    border-radius: 50px;
    color: white;
}
.ch-text p,
.wh-text p{
    color: rgb(226, 226, 226);
}
/* CONTACT HEADER*/
.contact-header,
.work-hour-header{
    display: flex;
    align-items: center;
    color: white;
}
/* HIDE HAMBURGER BAR*/
.top-header-phone i{
    display: none;
}

@media only screen and (max-width: 430px){
    #top-header{
        display: none;
    }
}

/* BOTTOM HEADER*/
#bottom-header{
    z-index: 99;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 1.5rem;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}

#mn-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-navbar div,
.main-navbar h5{
    margin: 5px 1rem;
}
h5 a{
    color: rgb(0, 0, 0);
}
.dp-about{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    position: absolute;
    display: none;
}
.dp-about-txt{
    padding: .5rem 0;
    border-bottom: 1px solid grey;
}
.head-dropdown:hover .dp-about{
    display: block;
}

#hamburger-bar{
    display: none;
}
@media only screen and (max-width: 775px){
    #bottom-header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #mn-navbar{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem 0;
    }
    #hamburger-bar{
        display: flex;
    }
    .main-navbar div,
    .main-navbar h5{
        color: black;
        margin: 10px 0rem;
    }
    .head-dropdown:hover .dp-about{
        display: none;
    }
}

/*MAIN SECTION */
main{
    max-width: 1300px;
}
.main-section{
    display: flex;
    width: 100%;
    min-height: 500px;
    position: relative;
}

.slides-one{
    display: flex;
    align-items: center;
    background-image: url(../resources/img/home-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-text h1{
    margin-left: 1rem; 
    max-width: 70%;
    color: white;
}
.slide-text h5{
    color: white;
    margin-left: 1rem; 
    max-width: 40%;
}


.slides-two{
    display: flex;
    align-items: center;
    background-image: url(../resources/img/home-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slides-three{
    display: flex;
    align-items: center;
    background-image: url(../resources/img/home-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-chevron-right,
.fa-chevron-left{
    font-size: 3rem;
}
.slide{
    width: 100%; /*ubah*/
    display: none;
}
.fade {
    -webkit-animation-name: fade;
    animation-name: fade;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
  }
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

 
  @media only screen and (max-width: 770px){
      .slide-text h1{
          font-size: 2.3rem;
      }
      #sukatani{
          display: none;
      }
      #mn-navbar{
          justify-content: center;
      }
      #top-header{
          display: none;
      }
      .slide-text h5{
        color: white;
        margin-left: 1rem; 
        max-width: 70%;
    }
    #sukatani{
        display: flex !important;
        align-self: center;
        justify-self: flex-start;
        display: flex;
        position: absolute;
    }

  }
  @media only screen and (max-width: 430px) {
    #bottom-header #sukatani{
        display: none;
    }
    .slide-text h1{
        font-size: 1.5rem;
    }
}
/* FOOTER */
footer{
    height: 500vh;
}