@font-face {
    font-family:'Poppins-Regular';
    src: url(../resources/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url(../resources/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url(../resources/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: 'Ultra-Regular';
    src: url(../resources/fonts/Ultra-Regular.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body{
    scroll-behavior: smooth;
}
body{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    
}
h1{
    font-family: 'Poppins-ExtraBold', sans-serif;
    font-size: 4rem;
}
h2{
    font-family: 'Poppins-Bold';
    font-size: 3rem;
}
h3{
    font-family: 'Poppins-Bold';
    font-size: 2rem;
}
h5{
    font-family: 'Poppins-Bold';
    letter-spacing: 1px;
}
p{
    font-family: 'Poppins-Regular';
    font-size: .7rem;
}
a{
    text-decoration: none;
}

/* HEADER UNIVERSAL */
.header{
    display: flex;
    max-width: 1300px;
    width: 100%;
    margin: auto;
}
/* TOP HEADER */
#top-header{
    background-color: #32502E;
    justify-content: flex-end;
    padding: 10px;
    align-items: center;
}
#top-header div{
    margin: 0 1.5rem
}
#top-header a{
    margin: 0 5px;
    border-radius: 60px;
    border: 1.3px solid white;
    display: inline-flex;
    padding: 8px;
}
#top-header a i{
    font-size: .7rem;
    border-radius: 50px;
    color: white;
}
.ch-text p,
.wh-text p{
    color: rgb(226, 226, 226);
}
/* CONTACT HEADER*/
.contact-header,
.work-hour-header{
    display: flex;
    align-items: center;
    color: white;
}
/* HIDE HAMBURGER BAR*/
.top-header-phone i{
    display: none;
}
@media only screen and (max-width: 768px){
    #top-header{
        display: none;
    }
}
@media only screen and (max-width: 425px){
    #top-header{
        display: none;
    }
}

/* BOTTOM HEADER*/
#bottom-header{
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
}
#mn-navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-navbar div,
.main-navbar h5{
    margin: 5px 1rem;
}
h5 a{
    color: white;
}
.dp-about{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    position: absolute;
    display: none;
}
.dp-about-txt{
    padding: .5rem 0;
    border-bottom: 1px solid grey;
}
.head-dropdown:hover .dp-about{
    display: block;
}

#hamburger-bar{
    display: none;
}
@media only screen and (max-width: 768px){
    #bottom-header{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #mn-navbar{
        display: none;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem 0;
    }
    #hamburger-bar{
        display: flex;
    }
    .main-navbar div,
    .main-navbar h5{
        margin: 10px 0rem;
    }
    .head-dropdown:hover .dp-about{
        display: none;
    }
}
/* FOOTER */
footer{
    height: 200vh;
}